@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to bottom, rgb(48, 17, 48), rgb(88, 7, 88));
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    align-items: center;
    flex-direction: column;
}

header{
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.5), rgb(255, 255, 255, 0));
}

h1{
    padding: 1em;
    text-align: center;
}

h2{
    text-align: center;
    padding-bottom: 1em;
}

nav{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav div{
    padding: 1em;
}

nav div a{
    font-size: 15pt;
    text-decoration: none;
    color: white;
    padding: 0.5em;
    border: 2px solid white;
    border-radius: 25px;
    transition: color, 0.5s;
}

nav div a:hover{
    color: rgb(255, 20, 188);
    border: 6px solid rgb(255, 20, 188);
}

main{
    width: 60%;
    margin: 3em;
    padding: 1em;
    border: 2px solid white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(39, 2, 39);
}

main p{
    font-size: 20pt;
    text-align: center;
}

.liste{
    width: 90%;
    display: flex;
    justify-content: center;
}

.ordered{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.unordered{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.ordered p{
    font-size: 15pt;
    padding: 1em;
}

.unordered p{
    font-size: 15pt;
    padding: 1em;
}

.galerija{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.galerija img{
    padding: 0.5em;
}

audio{
    margin: 2em;
}